<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylx.librarymanage.dao.MagazineAdditionMapper" >
  <resultMap id="BaseResultMap" type="com.ylx.librarymanage.model.MagazineAddition" >
    <constructor >
      <idArg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="issn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISD_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subject" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="impact_factor" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="publishing_cycle" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="papers" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="average_paper_price" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, id, issn, ISD_number, subject, impact_factor, publishing_cycle, papers, average_paper_price,
    update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from magazine_addition
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from magazine_addition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByIds" resultMap="BaseResultMap" parameterType="list" >
    select
    <include refid="Base_Column_List" />
    from magazine_addition
    where id in
    <foreach collection="list" item="id" index="index" open="(" separator="," close=")" >
      #{id,jdbcType=INTEGER}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from magazine_addition
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.util.List" >
    delete from magazine_addition
    where uid in
    <foreach collection="list" item="uid" index="index" open="(" separator="," close=")" >
      #{uid, jdbcType=INTEGER}
    </foreach>
  </delete>
  <delete id="deleteByIds" parameterType="java.util.List" >
    delete from magazine_addition
    where id in
    <foreach collection="list" item="id" index="index" open="(" separator="," close=")" >
      #{id, jdbcType=INTEGER}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.ylx.librarymanage.model.MagazineAddition" >
    insert into magazine_addition (uid, id, issn,
      ISD_number, subject, impact_factor, 
      publishing_cycle, papers, average_paper_price, 
      update_time, create_time)
    values (#{uid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{issn,jdbcType=VARCHAR}, 
      #{isdNumber,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{impactFactor,jdbcType=REAL}, 
      #{publishingCycle,jdbcType=SMALLINT}, #{papers,jdbcType=SMALLINT}, #{averagePaperPrice,jdbcType=DOUBLE}, 
      now(), now())
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    insert into magazine_addition (id, issn,
      ISD_number, subject, impact_factor,
      publishing_cycle, papers, average_paper_price,
      update_time, create_time)
    values
    <foreach collection="list" item="magazine" index="index" separator="," >
      (
      #{magazine.id},
      #{magazine.issn},
      #{magazine.isdNumber},
      #{magazine.subject},
      #{magazine.impactFactor},
      #{magazine.publishingCycle},
      #{magazine.papers},
      #{magazine.averagePaperPrice},
      now(),
      now()
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.ylx.librarymanage.model.MagazineAddition" >
    insert into magazine_addition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="issn != null" >
        issn,
      </if>
      <if test="isdNumber != null" >
        ISD_number,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="impactFactor != null" >
        impact_factor,
      </if>
      <if test="publishingCycle != null" >
        publishing_cycle,
      </if>
      <if test="papers != null" >
        papers,
      </if>
      <if test="averagePaperPrice != null" >
        average_paper_price,
      </if>
        update_time,
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="issn != null" >
        #{issn,jdbcType=VARCHAR},
      </if>
      <if test="isdNumber != null" >
        #{isdNumber,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="impactFactor != null" >
        #{impactFactor,jdbcType=REAL},
      </if>
      <if test="publishingCycle != null" >
        #{publishingCycle,jdbcType=SMALLINT},
      </if>
      <if test="papers != null" >
        #{papers,jdbcType=SMALLINT},
      </if>
      <if test="averagePaperPrice != null" >
        #{averagePaperPrice,jdbcType=DOUBLE},
      </if>
        now(),
        now(),
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.ylx.librarymanage.model.MagazineAddition" >
    update magazine_addition
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="issn != null" >
        issn = #{issn,jdbcType=VARCHAR},
      </if>
      <if test="isdNumber != null" >
        ISD_number = #{isdNumber,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="impactFactor != null" >
        impact_factor = #{impactFactor,jdbcType=REAL},
      </if>
      <if test="publishingCycle != null" >
        publishing_cycle = #{publishingCycle,jdbcType=SMALLINT},
      </if>
      <if test="papers != null" >
        papers = #{papers,jdbcType=SMALLINT},
      </if>
      <if test="averagePaperPrice != null" >
        average_paper_price = #{averagePaperPrice,jdbcType=DOUBLE},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylx.librarymanage.model.MagazineAddition" >
    update magazine_addition
    set id = #{id,jdbcType=INTEGER},
      issn = #{issn,jdbcType=VARCHAR},
      ISD_number = #{isdNumber,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      impact_factor = #{impactFactor,jdbcType=REAL},
      publishing_cycle = #{publishingCycle,jdbcType=SMALLINT},
      papers = #{papers,jdbcType=SMALLINT},
      average_paper_price = #{averagePaperPrice,jdbcType=DOUBLE},
      update_time = now()
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>